player-connection-mode=Listen
player-connection-guid=1021072333
player-connection-debug=1
player-connection-project-name=PPS Sandbox
player-connection-ip=192.168.1.163
player-connection-ip=100.96.4.236
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
build-guid=3cdb33c0b7da4cf58a02574dc49e7f28
